<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            text-align: center;
            margin-top: 50px;
        }

        button {
            background-color: #3498db;
            color: white;
            padding: 15px 30px;
            font-size: 18px;
            text-decoration: underline;
            border: none;
            cursor: pointer;
            margin: 10px auto;
            display: block;
            width: 30%;
        }
    </style>
    <title>Menú Principal</title>
</head>
<body>
    <h1>Menú Principal</h1>
    <a href="{{ url_for('ejercicio1') }}"><button>Ejercicio 1</button></a>
    <a href="{{ url_for('ejercicio2') }}"><button>Ejercicio 2</button></a>
</body>
</html>
